<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Administrativo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/AdminController.css}">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <span class="navbar-brand">PANEL DE CONTROL - ADMIN</span>
        </div>
    </nav>
</header>

<dialog id="createDialog" class="custom-dialog">
    <div class="dialog-header">
        <h5 class="title">Nuevo Usuario</h5>
    </div>

    <div class="dialog-body">
        <form id="createForm">
            <div class="field">
                <input type="text" id="createUsername" placeholder="Username" class="input-field" required>
            </div>
            <div class="field">
                <input type="password" id="createPassword" placeholder="Password" class="input-field" required>
            </div>
            <div class="field">
                <input type="text" id="createRol" placeholder="Rol (ADMIN o USER)" class="input-field" required>
            </div>
            <div class="field">
                <input type="text" id="createDept" placeholder="Departamento" class="input-field" required>
            </div>

            <div class="dialog-footer">
                <button type="button" class="btn-link" onclick="document.getElementById('createDialog').close()">Cancelar</button>
                <button type="submit" class="btn">Guardar</button>
            </div>
        </form>
    </div>
</dialog>

<div class="container">
    <h2 id="saludoUsuario" class="my-5 text-center"></h2>

    <div class="container-main">
        <h5 class="text-muted mb-4 text-uppercase small fw-bold border-bottom pb-2">Gestión de Usuarios</h5>

        <div id="datosMostrar"></div>

        <div class="buttons-container">
            <button class="btn btn-danger-custom fw-bold" id="btnSalir">
                Cerrar Sesión
            </button>

            <button class="btn fw-bold" id="btnVerUsuarios">
                Ver usuarios
            </button>

            <button class="btn btn-add fw-bold" onclick="abrirModalCrear()">
                + Nuevo Usuario
            </button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/AdminController.js}"></script>
</body>
</html>